main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    grid-row: 1/3;
    grid-column: 1;
    overflow-x: hidden;

    h1 {
        font-size: 40px;
        text-align: center;
        padding: 40px 0;
        color: #327137;
        z-index: 10;
    }

    #content-container {
        display: flex;
        flex-direction: column;
        background-color: #f1ddad;
        width: 80%;
        padding: 60px 60px 200px 60px;
        max-width: 1000px;
        border-radius: 50px;
        height: 100%;
        z-index: 3;

        .arbre_divider {
            width: 130px;
            align-self: center;
            padding-top: 30px;
        }

        #subcontent {
            padding: 0 70px;

            h2 {
                padding: 30px 0 0 60px;
                font-size: 25px;
                font-weight: 500;
                position: relative;
            }

            h2:before {
                content: "";
                display: block;
                position: absolute;
                background-image: url("../assets/papillon.svg");
                background-size: contain;
                background-repeat: no-repeat;
                height: 50px;
                width: 50px;
                left: 0;
                bottom: 0;
                rotate: 50deg;
            }

            .info {
                margin-left: 60px;
                padding: 0 5px;
                color: #e3f1dd;
                background-color: #327137;
                border-radius: 5px;
                width: fit-content;
                position: relative;
            }

            .info:before {
                content: "";
                display: block;
                position: absolute;
                background-image: url("../assets/arrow.svg");
                background-size: contain;
                background-repeat: no-repeat;
                height: 50px;
                width: 45px;
                left: -60px;
            }
        }

    }
}


@media (max-width: 750px) {
    main {
        h1 {
            font-size: 40px;
            padding: 40px 0 90px 0;
        }

        #content-container {
            #subcontent {
                padding: 0 0 0 70px;

                h2:before {
                    top: 12.5px;
                    bottom: auto;
                }

                .info {
                    margin-top: 15px;
                }
            }
        }
    }
}


@media (max-width: 750px) {
    main {
        #content-container {
            padding: 60px 60px 300px 60px;

            #subcontent {
                padding: 0 0 0 50px;
            }
        }

    }
}

@media (max-width: 500px) {
    main {
        h1 {
            padding: 40px 40px 90px 40px;
        }

        #content-container {
            padding: 60px 60px 400px 60px;

            #subcontent {
                padding: 0 0 0 0;
            }
        }

    }
}


@media (max-width: 400px) {
    main {
        #content-container {
            padding: 60px 40px 200px 40px;

            p {
                font-size: 15px;
            }

            #subcontent {
                padding: 0 0 0 0;

                .info {
                    margin-left: 0;
                }

                .info:before {
                    display: none;
                }

                h2 {
                    padding: 30px 0 0 10px;
                    font-size: 25px;
                }

                h2:before {

                    height: 35px;
                    width: 35px;
                    left: -25px;
                }
            }
        }

    }
}


@media (max-width: 350px) {
    main {

        h1 {
            font-size: 25px;
        }

        #content-container {
            width: 90%;
            #subcontent {
                h2 {
                    font-size: 18px;
                }

                .info {
                    font-size: 15px;
                }
            }

        }
    }
}