---
import './Footer.scss';
import font from '../../assets/font_foret.svg';
---

<footer>
  <div id="address">
    <p>Ô LACHAT</p>
    <p>850 route de LACHAT</p>
    <p>74210 - FAVERGES</p>
  </div>
  <div id="contact">
    <b>Réservations et informations :</b>
    <p>lejardinpapillon@asso-nature.fr</p>
    <p>07 50 23 24 43</p>
  </div>
  <div id="tribute"><p>Site éco-conçu par Nos Futurs</p></div>
  <a
    id="ecoindex-badge"
    href={`https://bff.ecoindex.fr/redirect/?url=https://nosfuturs.dev`}
    target="_blank"
  >
    <img
      src={`https://bff.ecoindex.fr/badge/?theme=light&url=https://nosfuturs.dev`}
      alt="Ecoindex Badge"
    />
  </a>
</footer>
