---
import './Footer.scss';
import tree from '../../assets/tree.svg';
import poule from '../../assets/poule.svg';
import lapin from '../../assets/lapin.svg';
---

<footer>
  <div id="address">
    <p>"Le jardin papillon du Lachat"</p>
    <p>5 minutes à pied depuis Ô LACHAT</p>
    <p>850 route de LACHAT</p>
    <p>74210 - FAVERGES</p>
  </div>
  <div id="contact">
    <b>Réservations et informations :</b>

    <p>07 50 23 24 43</p>
  </div>
  <div id="tribute"><p>Site éco-conçu par Nos Futurs</p></div>
  <a
    id="ecoindex-badge"
    href={`https://bff.ecoindex.fr/redirect/?url=https://nosfuturs.dev`}
    target="_blank"
  >
    <img
      src={`https://bff.ecoindex.fr/badge/?theme=light&url=https://nosfuturs.dev`}
      alt="Ecoindex Badge"
      loading="lazy"
    />
  </a>
  <img
    id="tree-left"
    src={tree.src}
    alt="Image représentant un arbre"
    loading="lazy"
    aria-hidden="true"
    role="presentation"
  />
  <img
    id="poule"
    src={poule.src}
    alt="Image représentant une poule"
    loading="lazy"
    aria-hidden="true"
    role="presentation"
  />
  <img
    id="lapin"
    src={lapin.src}
    alt="Image représentant un lapin"
    loading="lazy"
    aria-hidden="true"
    role="presentation"
  />
  <img
    id="tree-right"
    src={tree.src}
    alt="Image représentant un arbre"
    loading="lazy"
    aria-hidden="true"
    role="presentation"
  />
</footer>
