footer {
    width: 100vw;
    background-image: url("../../assets/font_foret.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    grid-row: 2/4;
    grid-column: 1;
    z-index: 4;
    padding-bottom: 80px;

    #address {
        margin: 90px 0 35px 0;
        padding: 0 30px;
        align-self: center;
        justify-self: center;
        text-align: center;
        color: #e3f1dd;
        position: relative;
        z-index: 6;
        p {
            margin: 5px;
        }
    }

    #contact {
        margin: 0 0 35px 0;
        padding: 0 30px;
        align-self: center;
        justify-self: center;
        text-align: center;
        color: #e3f1dd;
        z-index: 6;
        position: relative;
        width: 100%;
        p {
            margin: 5px;
        }
    }

    #tribute {
        margin: 0 0 35px 0;
        padding: 0 30px;
        align-self: center;
        justify-self: center;
        text-align: center;
        color: #e3f1dd;
        width: 100%;
        z-index: 6;
        position: relative;
        p {
            margin: 5px;
            a{
                color: #e3f1dd;
            }
        }
    }

    #ecoindex-badge {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #tree-left {
        position: absolute;
        bottom: 90px;
        left: -170px;
        z-index: 5;
    }

    #poule {
        position: absolute;
        bottom: 40px;
        left: 110px;
        z-index: 5;
        width: 100px;
    }

    #lapin {
        position: absolute;
        bottom: 40px;
        right: 100px;
        z-index: 5;
        width: 100px;
    }

    #tree-right {
        position: absolute;
        bottom: 40px;
        right: -160px;
        z-index: 5;
    }
}


@media (max-width: 500px) {
    footer {
        #address {
            z-index: 11;

            p {
                font-size: 14px;
            }
        }

        #contact {
            z-index: 11;

            p {
                font-size: 14px;
            }
        }

        #tribute {
            z-index: 11;

            p {
                font-size: 14px;
            }
        }
    }
}






@media (max-width: 750px) {
    footer {
        #tree-right {
            display: none;
        }

        #poule {
            left: 75px;
            width: 80px;
        }

        #lapin {
            right: 75px;
            width: 80px;
        }
    }
}

@media (max-width: 600px) {
    footer {
        #tree-left {
            width: 400px;
        }

        #poule {
            left: 40px;
            width: 50px;
        }

        #lapin {
            right: 40px;
            width: 50px;
        }
    }
}

@media (max-width: 400px) {
    footer {
        #tree-left {
            left: -120px;
            width: 300px;
        }

        #poule {
            left: 20px;
            width: 35px;
        }

        #lapin {
            right: 20px;
            width: 35px;
        }
    }
}